# =========================================================
# ESPM - Data Integration - Semana 10
# Variáveis de ambiente para o Docker Compose
# =========================================================

# PostgreSQL
ETL_DB_HOST=postgres
ETL_DB_PORT=5432
ETL_DB_USER=etl_user
ETL_DB_PASS=etl_pass
ETL_DB_NAME=etl_db

# Airflow UI
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin
