API_BASE_URL=https://api.worldbank.org/v2
PER_PAGE_COUNTRIES=300
PER_PAGE_INDICATORS=100
MRV=10
REQUEST_TIMEOUT=60
RETRY_ATTEMPTS=3
YEAR_MIN=2010

DB_HOST=localhost
DB_PORT=5432
DB_NAME=etl_worldbank
DB_USER=etl_user
DB_PASSWORD=etl_pass
